<div id="articles">
  <p>First title: {articles.0.title}</p>

  <NonEmpty data={articles}>
    <Repeat data={articles}>
      <article data-key={@index}> 
        <Heading tagName="h1" class="heading-small">{@loop.title|titleCase}</Heading>
        
        <div class="meta">
          <Pass data={@index} value="0">
            <small>First</small>
          <Else />
            <small>Another</small>
          </Pass>

          <Fail data={@index} value="2">
            <p>{@attrs.data} not {@attrs.value}</p>
          </Fail>
          
          <Range data={@index} min="1" max="2">
            <p>{@index} between {@attrs.min} and {@attrs.max}</p>
          </Range>
        </div>

        <p>{@loop.contents}</p>
      </article>
    </Repeat>
  </NonEmpty>

  <Empty data={articles}>
    <p>No Articles</p>
  </Empty>
</div>