<div id="articles">
  <p>First title: {articles.0.title}</p>

  <Defined data={articles}>
    <Each data={articles}>
      <article data-key={@index}> 
        <Heading tagName="h1" class="heading-small">{@item.title}</Heading>
        
        <div class="meta">
          <If data={@index} value="0">
            <small>First</small>
          <Else />
            <small>Another</small>
          </If>

          <Unless data={@index} value="2">
            <p>{@attrs.data} not {@attrs.value}</p>
          </Unless>
          
          <Range data={@index} min="1" max="2">
            <p>{@index} between {@attrs.min} and {@attrs.max}</p>
          </Range>
        </div>

        <p>{@item.contents}</p>

        <a href={@item.href}>Read More</a>
      </article>
    </Each>
  </Defined>

  <Empty data={articles}>
    <p>No Articles</p>
  </Empty>
</div>